@require "normalize.css"

@font-face {
  font-family "Roboto"
  font-style normal
  font-weight 400
  src url('../fonts/Roboto-Regular.woff')
}

@font-face {
  font-family "Roboto"
  font-style normal
  font-weight 500
  src url('../fonts/Roboto-Medium.woff')
}

@font-face {
  font-family "Roboto"
  font-style normal
  font-weight 600
  src url('../fonts/Roboto-Bold.woff')
}

base-font = 'Roboto', Helvetica, Arial, sans-serif

font-size = 1.4rem
line-height = 1.8rem

*,
*:before,
*:after
  box-sizing border-box
  outline none

::-moz-selection
  background rgba(68, 136, 255, 0.1)
::selection
  background rgba(68, 136, 255, 0.1)

html
  font-size 62.5%
  background rgb(255, 255, 255)
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  display flex
  flex-direction column
  min-height 100vh
  font-family base-font
  font-size font-size
  font-weight 500
  line-height line-height
  position relative
  color #999

a,
a:link,
a:visited
  text-decoration none

.header
  background rgb(68, 136, 255)

  &__inner
    display flex
    flex-direction column
    justify-content space-between
    max-width 1170px
    height 120px
    margin 0 auto
    padding 0 15px

.head
  display flex
  justify-content space-between
  align-items center
  margin 15px 0 0 0

  &__link
    position relative
    color #fff
    text-transform uppercase
    letter-spacing 1px

    &:after
      content ''
      display inline-block
      position absolute
      bottom -2px
      width 0
      left 0
      height 1px
      background rgba(255, 255, 255, 0.35)
      transition width 0.15s

    &:hover::after
      width 100%

    &--phone
      margin 0 45px

  &__search
    flex 1
    margin 0 45px 0 0

.logo
  transform translateY(0)

  &__big,
  &__small
    display flex
  &__small
    display none

  &:active
    transform translateY(1px)

.search
  position relative
  display flex

  &__button
    position absolute
    top 10px
    z-index 1

  &__input
    padding 10px 0 10px 30px
    width 100%
    height 40px
    line-height 20px
    background transparent
    border none
    box-shadow inset 0px -1px 0px 0px rgba(255, 255, 255, 0.25)
    color #fff
    text-transform uppercase
    cursor pointer
    z-index 2
    transition: box-shadow .5s

    &::-webkit-input-placeholder
      text-transform uppercase
      color rgba(255, 255, 255, 0.5)
    &::-moz-placeholder
      text-transform uppercase
      color rgba(255, 255, 255, 0.5)
    &:-ms-input-placeholder
      text-transform uppercase
      color rgba(255, 255, 255, 0.5)
    &:-moz-placeholder
      text-transform uppercase
      color rgba(255, 255, 255, 0.5)

    &:hover,
    &:focus
      box-shadow inset 0px -1px 0px 0px rgba(255, 255, 255, 1)

    &:focus
      cursor auto

.navigation

  &__list
    display flex
    margin 0 -15px
    padding 0
    list-style none

  &__item
    &--last
      margin-left auto

  &__link
    display flex
    padding 10px 15px
    line-height 20px
    color #fff
    text-transform uppercase
    letter-spacing 1px
    background transparent
    transition background .2s

    &:hover
      background #447ada

    &--active
      background #444

      &:hover
        background #444

    svg
      margin-right 10px

main
  flex 1 0 auto
  max-width 1170px
  padding 0 15px
  margin 0 auto

.products

  &__list
    display flex
    flex-wrap wrap
    margin 0 -15px
    padding 0
    list-style none

.product
  position relative
  min-width 25%
  max-width 25%
  height 383px
  flex 1 1 25%
  border-right 1px solid #e6e6e6
  border-bottom 1px solid #e6e6e6

  &__inner
    display flex
    flex-direction column
    padding 15px
    height 100%
    transition all 0.2s ease-in-out

  &:nth-child(4n)
    border-right-color transparent

  &:first-child:after,
  &:nth-child(5n):after,
  &:nth-child(4n):after
    content ' '
    position absolute
    width 15px
    height 1px
    bottom -1px
    background #fff
    transition bottom 0.2s ease-in-out

  &:first-child:after,
  &:nth-child(5n):after
    left 0

  &:nth-child(4n):after
    right 0

  &:hover &__inner
    box-shadow 0 0 0 1px rgba(68, 136, 255, 1)
    background rgba(68, 136, 255, 0.05)

  &:hover:after
    bottom -2px

  &:hover &__name
    color rgba(68, 136, 255, 1)

  &__image
    display flex
    align-items flex-end
    height 160px
    overflow hidden

    &--left
      background-position left

    &--right
      background-position right

    &--banner
      height 100%

    img
      display block


  &__name
    font-size 1.8rem
    line-height 2.2rem
    color #444
    margin 25px 0 10px 0
    transition color .2s
    max-height 44px
    overflow hidden

  &__details
    color #999
    font-weight 300
    margin-top auto
    overflow hidden
    height 71px
    margin-bottom 9px

  &__price
    display flex
    border-top 1px solid rgba(68, 136, 255, 1)
    align-items center
    padding 10px 0

    span
      font-size 1.8rem
      color rgba(68, 136, 255, 1)

    svg
      margin-left auto

.footer

  &__inner
    max-width 1170px
    padding 0 15px
    margin 0 auto

  &__list
    margin 100px 0 15px 0
    padding 0
    list-style none

    display flex

  &__item
    margin-left 30px
    line-height 2rem

    &:first-child
      margin-left 0

    &--last
      margin-left auto

  &__item
    span
      font-weight 400

  &__link
    display inline-block
    font-weight 400
    color #444
    box-shadow inset 0px -1px 0px 0px transparent
    transition: box-shadow .2s

    &:hover
      box-shadow inset 0px -1px 0px 0px #999
