@require "normalize.css"

@font-face {
  font-family "Roboto"
  font-style normal
  font-weight 400
  src url('../fonts/Roboto-Regular.woff')
}

@font-face {
  font-family "Roboto"
  font-style normal
  font-weight 500
  src url('../fonts/Roboto-Medium.woff')
}

@font-face {
  font-family "Roboto"
  font-style normal
  font-weight 600
  src url('../fonts/Roboto-Bold.woff')
}

base-font = 'Roboto', Helvetica, Arial, sans-serif

font-size = 1.4rem
line-height = 1.8rem

*,
*:before,
*:after
  box-sizing border-box
  outline none

::-moz-selection
  background rgba(68, 136, 255, 0.1)
::selection
  background rgba(68, 136, 255, 0.1)

html
  font-size 62.5%
  background rgb(255, 255, 255)
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  display flex
  flex-direction column
  min-height 100vh
  font-family base-font
  font-size font-size
  font-weight 500
  line-height line-height
  position relative
  color #999

a,
a:link,
a:visited
  text-decoration none

.header
  background rgb(68, 136, 255)

  &__inner
    display flex
    flex-direction column
    justify-content space-between
    max-width 1170px
    min-width 1024px
    height 120px
    margin 0 auto
    padding 0 15px

.head
  display flex
  justify-content space-between
  align-items center
  margin 15px 0 0 0

  &__link
    position relative
    color #fff
    text-transform uppercase
    letter-spacing 1px

    &:after
      content ''
      display inline-block
      position absolute
      bottom -2px
      width 0
      left 0
      height 1px
      background rgba(255, 255, 255, 0.35)
      transition width 0.15s

    &:hover::after
      width 100%

    &--phone
      margin 0 45px

  &__search
    flex 1
    margin 0 45px 0 0

.logo
  transform translateY(0)

  &__big,
  &__small
    display flex
  &__small
    display none

  &:active
    transform translateY(1px)

.search
  position relative
  display flex

  &__button
    position absolute
    top 10px
    z-index 1

  &__input
    padding 10px 0 10px 30px
    width 100%
    height 40px
    line-height 20px
    background transparent
    border none
    box-shadow inset 0px -1px 0px 0px rgba(255, 255, 255, 0.25)
    color #fff
    text-transform uppercase
    cursor pointer
    z-index 2
    transition: box-shadow .5s

    &::-webkit-input-placeholder
      text-transform uppercase
      color rgba(255, 255, 255, 0.5)
    &::-moz-placeholder
      text-transform uppercase
      color rgba(255, 255, 255, 0.5)
    &:-ms-input-placeholder
      text-transform uppercase
      color rgba(255, 255, 255, 0.5)
    &:-moz-placeholder
      text-transform uppercase
      color rgba(255, 255, 255, 0.5)

    &:hover,
    &:focus
      box-shadow inset 0px -1px 0px 0px rgba(255, 255, 255, 1)

    &:focus
      cursor auto

.navigation

  &__list
    display flex
    margin 0 -15px
    padding 0
    list-style none

  &__item
    &--last
      margin-left auto

  &__link
    display flex
    padding 10px 15px
    line-height 20px
    color #fff
    text-transform uppercase
    letter-spacing 1px
    background transparent
    transition background .2s

    &:hover
      background #447ada

    &--active
      background #444

      &:hover
        background #444

    svg
      margin-right 10px

main
  flex 1 0 auto
  max-width 1170px
  min-width 1024px
  padding 0 15px
  margin 0 auto

.products

  &__list
    display flex
    flex-wrap wrap
    margin 0 -15px
    padding 0
    list-style none

.product
  position relative
  min-width 25%
  max-width 25%
  height 383px
  flex 1 1 25%
  border-right 1px solid #e6e6e6
  border-bottom 1px solid #e6e6e6

  &__inner
    display flex
    flex-direction column
    padding 15px
    height 100%
    transition all 0.2s ease-in-out

  &:nth-child(4n)
    border-right-color transparent

  &:first-child:after,
  &:nth-child(5n):after,
  &:nth-child(4n):after
    content ' '
    position absolute
    width 15px
    height 1px
    bottom -1px
    background #fff
    transition bottom 0.2s ease-in-out

  &:first-child:after,
  &:nth-child(5n):after
    left 0

  &:nth-child(4n):after
    right 0

  &:hover &__inner
    box-shadow 0 0 0 1px rgba(68, 136, 255, 1)
    background rgba(68, 136, 255, 0.05)

  &:hover:after
    bottom -2px

  &:hover &__name h3
    color rgba(68, 136, 255, 1)

  &__image
    display flex
    align-items flex-end
    height 160px
    overflow hidden

    &--left
      background-position left

    &--right
      background-position right

    &--banner
      height 100%

    img
      display block


  &__name
    margin 25px 0 10px 0
    max-height 44px
    overflow hidden

    h3
      margin 0
      font-size 1.8rem
      font-weight 500
      line-height 2.2rem
      color #444
      transition color .2s

  &__details
    color #999
    font-weight 300
    margin-top auto
    overflow hidden
    height 71px
    margin-bottom 9px

  &__price
    display flex
    border-top 1px solid rgba(68, 136, 255, 1)
    align-items center
    padding 10px 0

    span
      font-size 1.8rem
      color rgba(68, 136, 255, 1)

    svg
      margin-left auto

.filters
  margin 30px 0 45px 0

  &__list
    display flex
    margin 0
    padding 0
    list-style none

  &__item
    margin-right 15px

.filter
  position relative
  width 190px

  &--large
    width 240px


  &--active
    .filter__link
      box-shadow 0 5px 5px 0 rgba(0, 0, 0, 0.2)
      border-left-color #fff
      border-right-color #fff
      border-top-color #e6e6e6
      border-bottom-color #e6e6e6
      &:hover
        border-left-color #fff
        border-right-color #fff
        border-top-color #e6e6e6
        border-bottom-color #e6e6e6
        background #fff

    .dropdown
      max-height 900px
      opacity 1
      top 100%

  &__link
    position relative
    display block
    height 40px
    padding 0 15px
    line-height 38px
    cursor pointer
    border 1px solid #999
    background #fff
    transition border .2s, background .2s, box-shadow .3s


    &:hover
      border 1px solid #48f
      background rgba(68, 136, 255, 0.05)

      .filter__title
        color #48f

      .filter__drop
        background-image url('../images/drop_blue.svg')

  &__title
    display inline-block
    width calc(100% - 25px)
    text-transform uppercase
    color #444
    user-select none
    white-space nowrap
    overflow hidden
    transition color .2s

  &__drop
    position absolute
    width 20px
    height 20px
    top 10px
    right 11px
    background-image url('../images/drop_dark.svg')
    background-position center
    background-repeat no-repeat
    transition background-image .2s

.dropdown
  position absolute
  top 50%
  right 0
  bottom auto
  left 0
  max-height 0
  opacity 0
  display block
  overflow hidden
  z-index: 20
  box-shadow 0 5px 5px 0 rgba(0, 0, 0, 0.2)
  transition max-height .3s, opacity .1s, top .2s

  &__inner
    position relative
    background #fff
    padding 15px 0

  &__list
    margin 0
    padding 0
    list-style none

  &__item
    position relative

  &__input
    opacity 0
    z-index -1
    position absolute

    &:checked + .dropdown__text:after
      opacity 1

  &__text
    display block
    padding 10px 15px
    line-height: 2rem
    text-transform uppercase
    color #444
    background #fff
    transition color .2s, background .2s
    cursor pointer
    overflow hidden
    white-space nowrap
    user-select none

    &:hover
      color #48f
      background rgba(68, 136, 255, 0.05);

    &:after
      content ' '
      position absolute
      top 10px
      right 15px
      width 20px
      height 20px
      background-image url('../images/check_blue.svg')
      background-repeat no-repeat
      background-position center
      opacity 0
      transition opacity .15s

.range
  display flex
  align-items center

  &__span
    color #999
    text-transform uppercase
    margin 0 15px
    z-index 21

  &__group
    display flex
    flex-direction row

  &__item
    position relative

    &:last-child
      .range__input
        left -1px

    .range__span
      position absolute
      top 11px
      left 0px
      cursor pointer
      user-select none


  &__input
    position relative
    border 1px solid #999
    padding 10px 15px 10px 50px
    width 160px
    text-align right
    color #444
    background #fff
    text-transform uppercase
    transition background .2s, border .2s
    z-index 10

    &:focus
      border 1px solid #48f
      background rgba(68, 136, 255, 0.05)
      z-index 20


.footer

  &__inner
    max-width 1170px
    min-width 1024px
    padding 0 15px
    margin 0 auto

  &__list
    margin 100px 0 15px 0
    padding 0
    list-style none

    display flex

  &__item
    margin-left 30px
    line-height 2rem

    &:first-child
      margin-left 0

    &--last
      margin-left auto

  &__item
    span
      font-weight 400

  &__link
    display inline-block
    font-weight 400
    color #444
    box-shadow inset 0px -1px 0px 0px transparent
    transition: box-shadow .2s

    &:hover
      box-shadow inset 0px -1px 0px 0px #999

.overlay
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 100
  overflow-y auto
  opacity 1
  transition opacity .15s ease-in
  background rgba(153, 153, 153, 0.5)
  text-align center

  &--open
    position static !important
    overflow hidden

  &--hidden
    transition opacity .15s ease-in,visibility .15s ease-in
    visibility hidden
    overflow hidden
    opacity 0

    .popup
      transform translateY(-100px)
      opacity 0

.popup
  display inline-block
  position relative
  width 700px
  margin 120px 0
  box-shadow 0 5px 5px 0 rgba(0, 0, 0, 0.2)
  transform translateY(0)
  opacity 1
  transition: transform .3s, opacity .2s

  &__inner
    padding 30px
    background #fff

  &__control
    position absolute
    top 0
    right 0
    width 40px
    height 40px
    background #fff

    &:after
      content ' '
      position absolute
      top 10px
      left 10px
      right 10px
      bottom 10px
      width 20px
      height 20px
      background url('../images/close_dark.svg') center no-repeat
      opacity 1
      transition opacity .2s

    &:hover
      &:after
        opacity 0.5

.card

  text-align left

  &__photo
    margin 30px 0
    text-align center

    img
      display inline-block
      height 400px

  &__content
    display flex
    border-top 1px solid #e6e6e6

  &__title
    display block
    font-size 25px
    line-height 30px
    color #444
    font-weight 500
    margin 25px 0 20px 0

  &__data
    flex-grow 2
    flex-shrink 0
    position relative

    &-link
      color #48f

    &-table
      width calc(100% - 30px)
      margin-bottom 15px

      &__row
        height 25px

      &__row:first-child
        height 20px

      &__cell
        width 50%

        span
          font-weight 400
          width 80%

  &__info
    flex-grow 1
    flex-shrink 1
    border-left 1px solid #e6e6e6
    padding: 0 0 0 30px

    &-text
      position relative

    &-stock
      margin 25px 0 10px 0

      &__text
        font-weight 500
        color #444

.button
  display inline-flex
  align-items center
  padding 10px 15px
  border 1px solid #48f
  cursor pointer
  justify-content center
  transition background .2s
  transform translateY(0)

  &:hover
    background rgba(68, 136, 255, 0.05)

  &:active
    transform translateY(1px)

  i
    width 20px
    height 20px
    background-repeat none
    background-position center
    margin-right 10px

  span
    line-height 2rem
    text-transform uppercase
    color #48f

  &--block
    display flex

  &--cart
    i
      background-image url('../images/cart_blue.svg')

@media (max-width 768px)

  .header
    display: none;

    &__inner
      max-width 100%
      min-width 100%

  main
    max-width 100%
    min-width 100%
    padding 0 20px

  .products
    &__list
      margin 0 -20px

  .product
    position relative
    min-width 100%
    max-width 100%
    height auto
    flex 1
    border-right 0

    &--banner
      display none

    &__image
      height auto
      margin-top 20px

    &__details
      height auto

    &:first-child:after,
    &:nth-child(5n):after,
    &:nth-child(4n):after
      display none

  .filters
    display: none;
    &__list
      flex-direction column

  .footer
    &__inner
      max-width 100%
      min-width 100%
      padding 0 20px

    &__list
      flex-direction column
      margin-top 0

    &__item
      margin 0

      &:nth-child(1)
        order 3
      &:nth-child(2)
        order 1
      &:nth-child(3)
        order 2
      &:nth-child(4)
        order 4
      &--last
        margin 0

      &:nth-child(2)
        margin-top 20px
      &:nth-child(3)
        margin-bottom 40px

      &:nth-child(1)
      &:nth-child(4)
        .footer__link
          line-height 4rem

      &:nth-child(2)
      &:nth-child(3)
        .footer__link
          width 100%
          height 70px
          line-height 7rem
          box-shadow inset 0px -1px 0px 0px #e6e6e6

    &__link:hover
      box-shadow inset 0px -1px 0px 0px transparent
