extends templates/base

block content
  include templates/header
  main
    section.filters
      ul.filters__list.filters__list--mobile
        .filters__head
          .filters__head-title
            span Фототехника
          i.icon.icon--filter.filters__head-drop
      ul.filters__list.filters__list--desktop
        li.filters__item
          .filter.filter--large
            a.filter__link
              span.filter__title Любого типа
              span.filter__drop
            .filter__dropdown.dropdown
              .dropdown__inner
                ul.dropdown__list
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Компакт-камера
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Беззеркальная
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Зеркальная
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Среднеформатная
        li.filters__item
          .filter.filter--medium
            a.filter__link
              span.filter__title Любого бренда
              span.filter__drop
            .filter__dropdown.dropdown
              .dropdown__inner
                ul.dropdown__list
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Canon
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Nikon
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Sony
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Fujifilm
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Samsung
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Olympus
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Panasonic
                  li.dropdown__item
                    label.dropdown__link
                      input(type='checkbox').dropdown__input
                      span.dropdown__text Polaroid
        li.filters__item
          .range
            span.range__span По цене
            .range__group
              .range__item
                label(for='left_range').range__span от
                input(type='text', id='left_range', maxlength="11", placeholder='500 000').range__input
              .range__item
                label(for='right_range').range__span до
                input(type='text', id='right_range', maxlength="11", placeholder='1 000 000').range__input
            span.range__span Рублей

    section.products
      ul.products__list
        each val in products
          if val.type == 1
            li.product
              a.product__inner(href='/product/'+val.id+'', data-open-id=''+val.id+'')
                .product__image
                  img(src='images/products/'+val.image+'')
                .product__name
                   h3= val.name
                .product__details
                  span= val.details
                .product__price
                  span= val.price + ' руб.'
                  i.icon.icon--cart-blue.product__price-icon
          else
            li.product.product--banner
              a.product__inner(href='#/banner/'+val.id+'')
                if val.name == ''
                  .product__image.product__image--banner.product__image--right(style="background-image: url('images/banners/"+val.image+"')")
                else
                  .product__image.product__image--banner.product__image--left(style="background-image: url('images/banners/"+val.image+"')")
  
    .filters__overlay.filters__overlay--hidden
      .filters__container
        .filters__container-inner
          .filters__head
            .filters__head-title
              span Подбор товаров
            i.icon.icon--close.filters__head-drop
          .filter
            .filter__head
              span.filter__head-text Тип
            ul.filter__list
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Компакт-камера
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Беззеркальная
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Зеркальная
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Среднеформатная
          .filter
            .filter__head
              span.filter__head-text Бренд
            ul.filter__list
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Canon
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Nikon
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Sony
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Fujifilm
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Samsung
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Olympus
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Panasonic
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text Polaroid
          .filter
            .filter__head
              span.filter__head-text Цена в бел.рублях
            ul.filter__list
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text До 50
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text 100 &ndash; 250
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text 250 &ndash; 500
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text 500 &ndash; 1000
              li.filter__item
                label.filter__item-link
                  input(type='checkbox').filter__item-input
                  span.filter__item-text От 1000
  include templates/footer
  include templates/popup
