extends templates/base

block content
  include templates/header
  main
    include templates/filters  
    include templates/products
    include templates/filters-mobile
  include templates/footer
  include templates/popup
