.filters__overlay.filters__overlay--hidden
  .filters__container
    .filters__head
      .filters__head-title
        span Подбор товаров
      i.icon.icon--close.filters__head-drop#filters-close
    .filter
      .filter__head
        span.filter__head-text Тип
      ul.filter__list
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Компакт-камера
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Беззеркальная
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Зеркальная
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Среднеформатная
    .filter
      .filter__head
        span.filter__head-text Бренд
      ul.filter__list
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Canon
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Nikon
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Sony
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Fujifilm
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Samsung
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Olympus
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Panasonic
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text Polaroid
    .filter
      .filter__head
        span.filter__head-text Цена в бел.рублях
      ul.filter__list
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text До 50
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text 100 &ndash; 250
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text 250 &ndash; 500
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text 500 &ndash; 1000
        li.filter__item
          label.filter__item-link
            input(type='checkbox').filter__item-input
            span.filter__item-text От 1000
