footer.footer
  .footer__inner
    ul.footer__list
      li.footer__item.footer__item--third
        span &copy; Технопарк 2016
      li.footer__item.footer__item--first
        a.footer__link(href='#') Доставка и оплата
      li.footer__item.footer__item--second
        a.footer__link(href='#') Техническая поддержка
      li.footer__item.footer__item--last
        span Сделано в 
        a.footer__link(href='http://skrotskystudio.com/', target='_blank') Студии Вадима Скротского
