section.overlay.overlay--hidden
  .popup
    a.popup__control(href='#')
    .popup__inner.card
      .card__photo
        img(src='images/products/xe2.jpg')
      .card__content
        .card__data
          h1.card__title Фотоаппарат Fujifilm X100S
          table.card__data-table
            tbody.card__data-table__body
              tr.card__data-table__row
                td.card__data-table__cell
                  span Тип камеры
                td.card__data-table__cell
                  span беззеркальная
              tr.card__data-table__row
                td.card__data-table__cell
                  span Тип матрицы
                td.card__data-table__cell
                  span CMOS
              tr.card__data-table__row
                td.card__data-table__cell
                  span Размер экрана
                td.card__data-table__cell
                  span 3"
              tr.card__data-table__row
                td.card__data-table__cell
                  span
                    | Количество точек <br/>
                    | матрицы
                td.card__data-table__cell
                  span 16.3МП
              tr.card__data-table__row
                td.card__data-table__cell
                  span Физический размер матрицы
                td.card__data-table__cell
                  span APS-C (1.5 crop)
              tr.card__data-table__row
                td.card__data-table__cell
                  span Фокусное расстояние
                td.card__data-table__cell
                  span 35мм
          a.card__data-link(href='#') Полные характеристики
        .card__info
          span.card__title 12 999 000 руб.
          a.button.button--block(href='#')
            i.icon.icon--cart-blue.button__icon
            span В корзину
          .card__info-stock
            span.card__info-stock__text В наличии
          span.card__info-text Доставка по Минску бесплатно с 11 до 20 часов
